body {
  padding: 1rem;
}

.row {
  display: grid;
  grid-auto-flow: column;
  padding: 1rem;
}

.block {
  border: 1px solid black;
  background-color: grey;
  text-align: center;
  padding: 1rem;
  color: white;
}

.low {
  background-color: #bbd0f7;
}

.mid {
  background-color: cornflowerblue;
}

.high {
  background-color: #1344a0;
}

.found {
  background-color: green;
}